<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  backupGlobals="false" 
  colors="true" 
  bootstrap="./test/bootstrap.php" 
  xsi:noNamespaceSchemaLocation="https://schema.Dphpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </coverage>
  <testsuite name="Ginq">
    <directory suffix="Test.php">./test</directory>
  </testsuite>
</phpunit>
